{% extends 'student_dashboard_base.html' %}

{% block content %}

<h2>Welcome, {{ request.user.username }} 🎓</h2>

<hr>

<h3>📚 Available Course Materials</h3>

{% if materials %}
<ul>

{% for item in materials %}

<li>

<strong>{{ item.title }}</strong><br>

Course: {{ item.course.course_title }}<br>

Uploaded: {{ item.uploaded_at }}<br>

{% if item.file %}
<a href="{{ item.file.url }}" download>
Download Material
</a>
{% endif %}

</li>

<hr>

{% endfor %}

</ul>

{% else %}

<p>No materials available yet.</p>

{% endif %}

<hr>

<hr>

<form action="{% url 'logout' %}"
                      method="post">

                    {% csrf_token %}

                    <button
                        class="logout-btn"
                        type="submit">

                        Logout

                    </button>

                </form>

{% endblock %}